In [3]:

import sqlite3 
c = sqlite3.connect('k17u.db')
a="INSERT INTO abc VALUES ( 'Nandini','lpu',24,'959241')"
# Create table 
c.execute("CREATE TABLE abc (name text, address text, age real, mobileno text)")
 # Insert a row of data
c.execute(a) 
# Save (commit) the changes 
c.commit() 
# We can also close the connection if we are done with it.
 # Just be sure any changes have been committed or they will be lost.
c.close()

In [2]:
import sqlite3 
conn = sqlite3.connect('k17u.db')
a=conn.execute('SELECT * FROM abc')
#print (a.fetchone())
#print (a.fetchmany(3))
print(a.fetchall())
#for i in a:
   # print(i)
conn.commit()
conn.close()

[('Nandini', 'lpu', 24.0, '959241'), ('abc', 'add1', 25.0, '23456'), ('abc', 'add1', 26.0, '23456'), ('abc', 'add1', 27.0, '23456'), ('abc', 'add1', 25.0, '23456'), ('abc', 'add1', 26.0, '23456'), ('abc', 'add1', 27.0, '23456'), ('abc', 'add1', 25.0, '23456'), ('abc', 'add1', 26.0, '23456'), ('abc', 'add1', 27.0, '23456')]

In [11]:
import sqlite3 
conn = sqlite3.connect('k17u.db')

list1 = [('abc','add1',25,'23456'),
         ('abc','add1',26,'23456'),
         ('abc','add1',27,'23456'),
         ] 
conn.executemany('INSERT INTO abc VALUES (?,?,?,?)', list1)
a=conn.execute('SELECT * FROM abc')

print (a.fetchmany(8))
conn.commit()
#for row in c.execute('SELECT * FROM abc'):
       # print (row)
conn.close()

[('Nandini', 'lpu', 24.0, '959241'), ('abc', 'add1', 25.0, '23456'), ('abc', 'add1', 26.0, '23456'), ('abc', 'add1', 27.0, '23456'), ('abc', 'add1', 25.0, '23456'), ('abc', 'add1', 26.0, '23456'), ('abc', 'add1', 27.0, '23456'), ('abc', 'add1', 25.0, '23456')]
('Nandini', 'lpu', 24.0, '959241')
('abc', 'add1', 25.0, '23456')
('abc', 'add1', 26.0, '23456')
('abc', 'add1', 27.0, '23456')
('abc', 'add1', 25.0, '23456')
('abc', 'add1', 26.0, '23456')
('abc', 'add1', 27.0, '23456')
('abc', 'add1', 25.0, '23456')
('abc', 'add1', 26.0, '23456')
('abc', 'add1', 27.0, '23456')